@import '../global-mixins.pcss';

.default-page.text-content {
  .inner {
    padding-top: 50px;
    padding-bottom: 100px;

    .block-title {
      font-family: Krub;
      font-style: bold;
      font-weight: 300;
      font-size: 30px;
      line-height: 22px;
      color: #404554;
      text-transform: uppercase;
      margin-top: 70px;
      margin-bottom: 40px;
    }

    ul {
      list-style-type: disc;

      .sub-menu {
        list-style: revert;
        margin-left: 20px;
      }
    }

    .text {
      color: #404554;
      margin-bottom: 50px;

      li {
        margin-bottom: 15px;
        margin-top: 15px;
      }

      a {
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 25px;
        color: #001730;
      }
    }
  }

  @media (max-width: 1300px) {
    .inner {
      padding: 50px 40px 100px;
    }
  }
}
