---
title: 404 page
---

<section class="error404">
  <div class="inner">
    <h1 class="section-title left">Oops, you seemed to have found a page that does not exist.</h1>
    <p>Thanks for noticing – we’re going to fix it up and have things back to normal soon.</p>
    {{> search-form}}
  </div>
</section>
