<div class="blog-wrapper">
  <div class="inner">
    <div class="wrap">
      <div class="sidebar">
        <div class="archive-list-block">
          <h2 class="archive-title">Categories</h2>
          <ul class="archive-list">
            <li><a href="#">Habitasse Platea</a></li>
            <li><a href="#">Dictumst Vivamus</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li><a href="#">Fermentum</a></li>
            <li><a href="#">Quam Volutpat</a></li>
          </ul>
        </div>
        <div class="archive-list-block">
          <h2 class="archive-title">Archive</h2>
          <ul class="archive-list">
            <li><a href="#">March 2019</a> (2)</li>
            <li><a href="#">February 2019</a> (2)</li>
            <li><a href="#">January 2019</a> (2)</li>
            <li><a href="#">March 2018</a> (2)</li>
            <li><a href="#">February 2018</a> (2)</li>
            <li><a href="#">January 2018</a> (2)</li>
          </ul>
        </div>
      </div>
      <div class="content text-content">
        <div class="single-blog">
          <div class="categories">
            <a href="#" rel="category tag">Adipiscing</a>
            <a href="#" rel="category tag">Fermentum</a>
          </div>
          <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
          <div class="posted">Posted - March 15, 2019</div>
          <img src="{{root}}images/blog-content-img1.jpg" alt="" class="alignnone">
          <blockquote class="alignright">Lorem ipsum dolor sit amet, consectur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh. </blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet
            neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie
            justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh.</p>
          <p>Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida. Donec vehicula rhoncus
            mattis. Mauris dignissim semper mattis.</p>
          <img class="alignright" src="{{root}}images/blog-content-img2.jpg" alt="">
          <p>Fusce porttitor a mi at suscipit. Praesent facilisis dolor sapien, vel sodales augue mollis ut. Mauris
            venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec
            elit non dolor consectetur tincidunt sed in felis. Donec elementum, lacus at mattis tincidunt, eros magna
            faucibus sem, in condimentum est augue tristique risus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet
            neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie
            justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh.</p>
          <p>Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida. Donec vehicula rhoncus
            mattis. Mauris dignissim semper mattis.</p>

          <div class="item-footer">
            <a href="#" class="back_link">Back to Blog</a>
            <div class="share-enjoy-box">
              <a href="#" target="_blank" class="link-share" data-width="600" data-height="309" rel="noopener">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAARBAMAAAAS+PDrAAAALVBMVEVMaXGnp6eqqqqrq6uqqqqrq6urq6upqamqqqqqqqqqqqqqqqqqqqqqqqqqqqprHeDTAAAADnRSTlMAIDBAYHB/gJ+vv8DQ4Owe5xgAAAAySURBVHjaY2CQfPeKgeHcu9cMTO/ebmdgfveAAUJUvHuWwvDu3bvnEML03WNDJFm8BACeTiWg1OmIxwAAAABJRU5ErkJggg==" alt="">
              </a>
              <a href="#" target="_blank" class="link-share" data-width="600" data-height="439" rel="noopener">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAMAAAD+MweGAAAASFBMVEVMaXGvr6+np6eqqqqrq6upqamqqqqrq6upqampqamqqqqqqqqrq6uqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqpZU2EUAAAAF3RSTlMAECAwQFBgcICPkJ+gr7C/wM/Q3+Dv8GUxEv4AAABwSURBVHjaTc9ZFsAQDAXQF0PnVmmx/502hFP5wfViAAhS1menaQK0J4FcyxJMfkyRu0IMBMXjziaRtzQcdc+J3AzG56EuFkqjzCihkVS9d4s87ceI/BHdXruEBgtaqVPgkKVZ2/XJ9oTeuClcU//xB/sJC/zGNrJLAAAAAElFTkSuQmCC" alt="">
              </a>
              <a href="#" target="_blank" class="link-share" data-width="600" data-height="430" rel="noopener">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAMAAAAIRmf1AAAAQlBMVEVMaXGvr6+np6eqqqqrq6upqamqqqqqqqqrq6urq6upqampqamqqqqrq6uqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq+Y5zSAAAAFXRSTlMAECAwQF9gb3B/gI+QoLC/wN/g7/A42Fy2AAAAVElEQVQoz73IOxKAIBAFwQeunwVREOf+VzWljIzssGWNrJcbsA9nF7s+MHeXFnePYc15DpISIFVg6wAtjtcB4ByPkirANFyRdAHbcCbpANLr0l/3AKcxDIk8bwXAAAAAAElFTkSuQmCC" alt="L">
              </a>
              <a href="#" target="_blank" rel="noopener">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAMAAADjcdz2AAAARVBMVEVMaXGvr6+np6eqqqqrq6upqamqqqqrq6urq6upqamqqqqrq6uqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqUu71FAAAAFnRSTlMAECAwQFBgcH+AkKCvsL/Az9Df4O/wApu/NAAAAIJJREFUKM9Fj9EWxBAQQ0OVZbZFS/7/U/dgkQeOKxMBQH2kskZRGFLJQQkdpjwbrZwG5NhWoVmg3/kNQh+XDCDaHpqLwfEeAOiHx8lLDcSbz20H6oBNf48wqT1yfoNkFj3BlXXL4bVeVbtwz0tjP+sqqodzjpiaWmlb1+d0iCzRz/MPfOEGAGRDFXMAAAAASUVORK5CYII=" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
