<section class='archive-section'>
  <div class='inner'>
    <div class='title'>
      <h1 class='page-title'>
        News &amp; Events
      </h1>
    </div>
    <div class='wrap'>
      <div class='sidebar'>
        <div class='archive-list-block'>
          <form
            role='search'
            method='get'
            class='search-form'
            action='http://redstoneortho.devbucket.me/'
          >
            <label>
              <span class='screen-reader-text'>
                Search for:
              </span>
              <input
                type='search'
                class='search-field'
                placeholder='Search …'
                value=''
                name='s'
              />
            </label>
            <input type='submit' class='search-submit' value='Search' />
          </form>
        </div>
        <div class='archive-list-block'>
          <h2 class='archive-title'>
            Archives
          </h2>
          <ul>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/10/'>
                October 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/09/'>
                September 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/08/'>
                August 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/07/'>
                July 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/06/'>
                June 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/05/'>
                May 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/04/'>
                April 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/03/'>
                March 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/02/'>
                February 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2017/01/'>
                January 2017
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/12/'>
                December 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/11/'>
                November 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/10/'>
                October 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/09/'>
                September 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/08/'>
                August 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/07/'>
                July 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/06/'>
                June 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/05/'>
                May 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/04/'>
                April 2016
              </a>
            </li>
            <li>
              <a href='http://redstoneortho.devbucket.me/2016/03/'>
                March 2016
              </a>
            </li>
          </ul>
        </div>
        <div class='archive-list-block'>
          <h2 class='archive-title'>
            Categories
          </h2>
          <ul>
            <li class='cat-item cat-item-1'>
              <a
                href='http://redstoneortho.devbucket.me/category/uncategorized/'
              >
                Uncategorized
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class='content text-content'>
        <div class='main-blog'>
          <div class='item'>
            <div class='thumbnail' style='background-image: url();'>
              <a href='http://redstoneortho.devbucket.me/post-1/'></a>
            </div>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-1/'>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit 1
                </a>
              </h2>
              <div class='posted'>
                Posted - October 2, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-1/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-2/'>
                  Donec eget fringilla orci 2
                </a>
              </h2>
              <div class='posted'>
                Posted - September 11, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-2/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-3/'>
                  Duis interdum mi non sem imperdiet, sollicitudin malesuada ex ultrices 3
                </a>
              </h2>
              <div class='posted'>
                Posted - August 12, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-3/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-4/'>
                  Vivamus dui eros 4
                </a>
              </h2>
              <div class='posted'>
                Posted - July 23, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-4/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-5/'>
                  Mollis non venenatis sit amet 5
                </a>
              </h2>
              <div class='posted'>
                Posted - June 1, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-5/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-6/'>
                  Maximus nec tortor 6
                </a>
              </h2>
              <div class='posted'>
                Posted - May 22, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-6/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-7/'>
                  Praesent viverra dignissim dapibus 7
                </a>
              </h2>
              <div class='posted'>
                Posted - April 2, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-7/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-8/'>
                  Curabitur rhoncus scelerisque maximus 8
                </a>
              </h2>
              <div class='posted'>
                Posted - March 21, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-8/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-9/'>
                  Nulla tincidunt ex sapien, sit amet sollicitudin quam dapibus ac 9
                </a>
              </h2>
              <div class='posted'>
                Posted - February 16, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-9/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class='item'>
            <div class='text'>
              <div class='categories'>
                <a
                  href='http://redstoneortho.devbucket.me/category/uncategorized/'
                  rel='category tag'
                >
                  Uncategorized
                </a>
              </div>
              <h2 class='title'>
                <a href='http://redstoneortho.devbucket.me/post-10/'>
                  Sed rhoncus erat id nulla tempor 10
                </a>
              </h2>
              <div class='posted'>
                Posted - January 9, 2017
              </div>
              <div class='item-content'>
                Header oneHeader twoHeader threeHeader fourHeader fiveHeader sixLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales
                <a
                  href='http://redstoneortho.devbucket.me/post-10/'
                  class='more'
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='pagination'>
          <ul class='page-numbers'>
            <li>
              <span aria-current='page' class='page-numbers current'>
                1
              </span>
            </li>
            <li>
              <a
                class='page-numbers'
                href='http://redstoneortho.devbucket.me/news-events/page/2/'
              >
                2
              </a>
            </li>
            <li>
              <a
                class='next page-numbers'
                href='http://redstoneortho.devbucket.me/news-events/page/2/'
              >
                Next »
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>