<div class="item">
  <div class="thumbnail" style="background-image: url({{root}}{{image}});">
    <a href="#"></a>
  </div>
  <div class="text">
    <div class="categories">
      <a href="#" rel="category tag">Adipiscing</a>
      <a href="#" rel="category tag">Fermentum</a>
    </div>
    {{#if first}}
      <h1 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed</a></h1>
    {{else}}
      <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed</a></h2>
    {{/if}}
    <div class="posted">Posted - March 15, 2019</div>
    <div class="item-content">
      Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi,
      quis iaculis nulla iaculis vitae. <a href="#" class="more">Read More</a>
    </div>
  </div>
</div>
