{{!-- mobile menu section block --}}
<aside class="menu-wrap" aria-hidden="true">

  <ul class="mobile-nav">
    <li> <a href="#"> Products & Resources </a></li>
    <li> <a href="#"> Skills Workshop  </a> </li>
    <li> <a href="#"> About Us </a> </li>
    <li> <a href="#"> News & Events </a></li>
    <li> <a href="#"> Contact Us </a></li>
    <li class="phone-link"> <a href="tel:214-790-0840"> (214) 790-0840 </a> </li>
  </ul>

  <button class="close-button" id="close-button"><span class="screen-reader-text">Close</span></button>
</aside>
