<section class="section-form {{class}}">
  <img class="object-fit object-fit-cover" src="{{root}}images/section-form-bgi.png" alt="" />
  <div class="inner">
    <div class="col">
      <h2 class="title">See Something Interesting?</h2>
      <div class="text">
        <p>Please fill out the form for more information</p>
      </div>
    </div>
    <div class="col">
      {{#> gform-form
          showError=showError
          showConfirmation=false
      }}
        {{#> gform-body showError=showError}}
          {{#> gform-checkboxes
              showError=showError
              hideLabel=true
          }}
            {{> gform-checkboxes-checkbox
                labelText="Cadaveric Training"
                checked=true
            }}
            {{> gform-checkboxes-checkbox
                labelText="Product Inservice"
                checked=false
            }}
            {{> gform-checkboxes-checkbox
                labelText="Mobile Laboratory"
                checked=false
            }}
          {{/gform-checkboxes}}

          {{> gform-singleLineText
              showError=true
              hideLabel=true
              required=true
              typeTextOrPassword="text"
              fieldSize="medium"
              placeholderText="Your complete name"
          }}

          {{#> gform-radioButtons
              showError=false
              required=true
              labelText="Select preferred method of contact"
          }}
            {{> gform-radioButtons-checkbox
                checked=true
                labelText="Email"
            }}
            {{> gform-radioButtons-checkbox
                checked=false
                labelText="Phone"
            }}
          {{/gform-radioButtons}}

          {{> gform-email
              showError=showError
              customClass="gf_left_half"
              hideLabel=true
              required=true
              fieldSize="medium"
              placeholderText="Email"
              enableConfirmation=false
              enterEmailLabel=""
              confirmEmailLabel=""
          }}

          {{> gform-phone
              showError=showError
              customClass="gf_right_half"
              hideLabel=true
              required=true
              typeTextOrPassword="phone"
              fieldSize="medium"
              placeholderText="Phone"
              maskedInput=true
              inputMask="99"
          }}
        {{/gform-body}}
        {{> gform-footer
            type="button"
            text="Submit Form"
        }}
      {{/gform-form}}
    </div>
  </div>
</section>
