<div class="share-enjoy-box">
  <a href="#" target="_blank" class="link-share" data-width="600" data-height="309" rel="noopener">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAARBAMAAAAS+PDrAAAALVBMVEVMaXGnp6eqqqqrq6uqqqqrq6urq6upqamqqqqqqqqqqqqqqqqqqqqqqqqqqqprHeDTAAAADnRSTlMAIDBAYHB/gJ+vv8DQ4Owe5xgAAAAySURBVHjaY2CQfPeKgeHcu9cMTO/ebmdgfveAAUJUvHuWwvDu3bvnEML03WNDJFm8BACeTiWg1OmIxwAAAABJRU5ErkJggg==" alt="">
  </a>
  <a href="#" target="_blank" class="link-share" data-width="600" data-height="439" rel="noopener">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAMAAAD+MweGAAAASFBMVEVMaXGvr6+np6eqqqqrq6upqamqqqqrq6upqampqamqqqqqqqqrq6uqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqpZU2EUAAAAF3RSTlMAECAwQFBgcICPkJ+gr7C/wM/Q3+Dv8GUxEv4AAABwSURBVHjaTc9ZFsAQDAXQF0PnVmmx/502hFP5wfViAAhS1menaQK0J4FcyxJMfkyRu0IMBMXjziaRtzQcdc+J3AzG56EuFkqjzCihkVS9d4s87ceI/BHdXruEBgtaqVPgkKVZ2/XJ9oTeuClcU//xB/sJC/zGNrJLAAAAAElFTkSuQmCC" alt="">
  </a>
  <a href="#" target="_blank" class="link-share" data-width="600" data-height="430" rel="noopener">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAMAAAAIRmf1AAAAQlBMVEVMaXGvr6+np6eqqqqrq6upqamqqqqqqqqrq6urq6upqampqamqqqqrq6uqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq+Y5zSAAAAFXRSTlMAECAwQF9gb3B/gI+QoLC/wN/g7/A42Fy2AAAAVElEQVQoz73IOxKAIBAFwQeunwVREOf+VzWljIzssGWNrJcbsA9nF7s+MHeXFnePYc15DpISIFVg6wAtjtcB4ByPkirANFyRdAHbcCbpANLr0l/3AKcxDIk8bwXAAAAAAElFTkSuQmCC" alt="L">
  </a>
</div>
