<div class="social-links">
  {{#if title}}
    <h3>{{title}}</h3>
  {{/if}}
  <a href="#"><img src="{{root}}images/fb.svg" alt="">{{!-- You can add text here --}}</a>
  <a href="#"><img src="{{root}}images/Instagram.svg" alt=""></a>
  <a href="#"><img src="{{root}}images/google-my-business-logo.svg" alt=""></a>
</div>
